$myFont: Helvetica, Sans-serif;
$color_principal: darkblue;
$color_background_principal: white;
$color_background_header: lightgray;
$color_background_menu: gray;

html {
    font-family: $myFont;
}


body {
    background-color: $color_background_principal;
    padding: 10px;

    container {
        width: 100%;
        background-color: $color_background_principal;
        padding-top: 10px;
    }
    header {
        background-color: $color_background_header;
        color: $color_principal;
        text-align: center;
        height: 150px;
        vertical-align: middle;
    }
    
    header-menu {
        background-color: $color_background_menu;
    }

    a {
        color: $color_principal;
    }

    h1, h2 {
        color: $color_principal;
    }
    
    %bloque1_pag2 {
        width: 100;
        text-align: left;
        background-color: springgreen;
    
    }

    bloque2_pag2 {
        @extend %bloque1_pag2;
        background-color: lightpink;
    }

    bloque3_pag2 {
        @extend %bloque1_pag2;
        background-color: springgreen;
    }
}


